<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd">
 
    <bean id="advice" class="advice.adviceAction"></bean>
    
    <bean id="dummServ" class="service.DummyService"></bean>
    
    <aop:config proxy-target-class="true">
    	<aop:advisor advice-ref="advice" pointcut="execution(* service.DummyService.*(..))"/>
    </aop:config>
</beans>
    